* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 500px;
    width: 768px;
    margin: 0 auto;
    margin-top: 25px;
    border: 1px solid black;
    display: flex;
    overflow: hidden;
}

.navigationList {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    list-style: none;
    padding: 20px;
    border-right: 1px solid black;
    height: 100%;
    font-size: larger;
    font-weight: 500;
    overflow: hidden;
    background-color: rgb(247, 165, 135);
}

.navigationList li {
    margin-bottom: 10px;
}

.navigationList li:hover {
    cursor: pointer;
    color: gray;
}

.sc {
    display: flex;
    justify-content: center;
    width: 25px;
    height: 100%;
    background-color: bisque;
    /* transform: rotate(180deg); */
}

.sc:hover {
    background-color: rgb(231, 152, 55);
}

.display {
    width: 100%;
    max-height: 500px;
    padding: 20px;
    border-left: 1px solid black;
    overflow: auto;
    background-color: #faeaea;
}

.post-data, 
.comment-data,
.album-data,
.photo-data,
.todo-data,
.user-data
  {
    margin-bottom: 20px;
}
